---
layout: default
---
<div id="index" class="row">
  <div class="col-sm-9">
    <div class="post-area">
      <div class="post-list-header">
        博客目录
      </div>

      <div class="post-list-body">  
        <div class="all-posts" post-cate="All">
          {% for post in paginator.posts %}
            <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
              <div class="post-list-item">
                <span class="entry-date date published">
                <time datetime="{{ post.date | date_to_xmlschema }}">
                  <font color="#aaaaaa">    {{ post.date | date: "%Y-%m-%d" }} By 林浩007</font>
                </time>
                </span>

                <h2>
                  {% if post.code %}
                    <font color="#AE57A4">技术</font>:
                    <font color="#333333">{{ post.title }}</font>
                  {% endif %}
                  {% if post.stickies %}
                    <font color="#FF8000">随笔</font>:
                    <font color="#333333">{{ post.title }}</font>
                  {% endif %}
                  {% if post.manager %}
                    <font color="#0066CC">管理</font>:
                    <font color="#333333">{{ post.title }}</font>
                  {% endif %}
                  {% if post.english %}
                    <font color="#BB3D00">英语</font>:
                    <font color="#333333">{{ post.title }}</font>
                  {% endif %}
                </h2>

                {% if post.description %}
                  <p><font color="#666666"> {{ post.description }} </font></p>
                {% endif %}
              </div>
            </a>
          {% endfor %}
          
          <hr/>
          <!-- 分页 -->
		  <center>
          <div class="paginator">
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li class=""><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
              {% else %}
                <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <li class="active"><a>{{ page }}<span class="sr-only">(current)</span></a></li>
                {% elsif page == 1 %}
                  <li class=""><a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                  <li class=""><a href="/{{ site.paginate_path | prepend: site.url | replace: '//', '/' | replace: ':num', page }}">{{ page }}<span class="sr-only">(current)</span></a></li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li class=""><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" aria-label="Previous"><span aria-hidden="true">下一页</span></a></li>
              {% else %}
                <li class="disabled"><a aria-label="Previous"><span aria-hidden="true">下一页</span></a></li>
              {% endif %}
            </ul>
          </div>
		  </center>
        </div>

        {% for category in site.tags %}
          <div post-cate="{{category | first}}">
            {% for posts in category  %}
              {% for post in posts %}
                {% if post.url %}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="post-list-item">
                    <span class="entry-date date published">
                    <time datetime="{{ post.date | date_to_xmlschema }}">
                    <font color="#aaaaaa">{{ post.date | date: "%Y-%m-%d" }} Create By 张涛</font>
                    </time>
                    </span>

                    <h2>
                    <font color="#333333">{{ post.title }}</font>
                    </h2>
                
                    {% if post.description %}
                      <p><font color="#666666"> {{ post.description }} </font></p>
                    {% endif %}
                  </a>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
        <div class="categories-list-header" align="center">
          支持我请点击右上角的
          <a href="https://github.com/linhao007"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow linhao007">Follow</button> </a>
        </div>
      <!--  <div class="content-text"></div> -->
    </div>

    <p>
    </p>

    <div class="shadow-corner-curl hidden-xs">
      <div class="categories-list-header">
        博客类别
      </div>
      
      <a href="{{'/index.html'}}" class="categories-list-item" cate="All">
        全部<span class="my-badge"> {{site.posts | size}}</span>
      </a>

     {% assign tags_list = site.tags %}  
         {% if tags_list.first[0] == null %}
             {% for tag in tags_list %} 
             <a href="javascript:;" class="categories-list-item" cate="{{ tag }}">
             {{ tag }} <span class="my-badge">{{ site.tags[tag].size }}</span>
             </a>
            {% endfor %}
         {% else %}
             {% for tag in tags_list %} 
              <a href="javascript:;" class="categories-list-item" cate="{{ tag[0] }}">
              {{ tag[0] }} <span class="my-badge">{{ tag[1].size }}</span>
              </a>
             {% endfor %}
         {% endif %}
     {% assign tags_list = nil %}
    </div>
  </div>

   <div class="col-sm-3" style="float : right; margin-top : 20px;">
        <div class="shadow-corner-curl hidden-xs">
           <iframe width="100%" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=3162317635&verifier=b5e68bf1&dpc=1"></iframe>
        </div>                                          
    </div>
</div>
</div>