---
layout: default
---
<div class="row">
  <div id="myArticle" class="col-sm-9">
    <div class="post-area post">
      <header>
        <h1>{{ page.title }}</h1>
        <p>{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <hr>
      <article>
        {{content}}
      </article>
      <hr>
      <div class="bdsharebuttonbox">
	  <a href="#" class="bds_more" data-cmd="more"></a>
	  <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	  <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
	  <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
	  <a href="#" class="bds_fbook" data-cmd="fbook" title="分享到Facebook"></a>
	  <a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
	  </div>
      <script>
	  window._bd_share_config={
		  "common":{
		  "bdSnsKey":{},
		  "bdText":"",
		  "bdMini":"2",
		  "bdMiniList":false,
		  "bdPic":"",
		  "bdStyle":"1",
		  "bdSize":"24"},
		  "share":{}
		  };
		  with(document)0[
		  (getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
     </script>
    </div>

    <div class="post-area post comment">
      <div id="SOHUCS" sid="http://www.linhao007.com{{ page.url }}"></div> 
<script type="text/javascript"> 
(function(){ 
var appid = 'cytdTotz7'; 
var conf = '32201858e65b520dcf65a6a1c002ed95'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script> 
    </div>
  </div>

  <div id="content" class="col-sm-3">
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header" align="center">
        支持我请点击右上角的
        <a href="https://github.com/linhao007"><button class="btn btn-sm btn-primary js-toggler-target" title="Follow kymjs">Follow</button> </a>
      </div>
    </div>
    <p>

    </p>
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header" align="center">
        <a href="https://github.com/linhao007/linhao007.github.io/blob/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-01.md"> - -> <font color="#FF0000">文章纠错</font> <- - </a>
      </div>
    </div>
    <p>
      
    </p>
    <div id="myAffix" class="shadow-bottom-center hidden-xs" >
      <div class="categories-list-header">
        Content
      </div>
      <div class="content-text"></div>
    </div>
  </div>
</div>